/* Cascade Style Sheet for this website */
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding-inline-start: 0px;;
}

.menu ul li {
    display: inline;
    /*margin-right: 10px;*/
   }

.menu a {
    color: white;
    background-color: rgb(17, 19, 161);
    text-decoration: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
font-size: 18px;
}

div p {
color: darkgrey;
font-size: 15px;
}

div li {
    color: darkgray;
    margin-left: 20px;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
}

input {
    margin-left: 50px;
    width: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}



input[type="radio"]{
    margin-left: 10px;
    width: auto;
    box-shadow: none;
    background-color: transparent;
}

input[type="submit"] {
    width: auto;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: 536px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: translate(10px);
}


label {
    width: 150px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
}

select {
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid;
    border-color: rgb(216, 216, 216);
}

textarea{
    margin-left: 50px;
    width: 400px;
    border: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.commentContact{
    margin-left: 150px;
}

.preferenceSentence{
    color: darkgray;
}

.signInButton{
    margin-left: 10px;
}

span {
color: rgb(143, 0, 0);
}

li{
    margin-left: 20px;
    color: rgb(6, 129, 0);
}

.thankYou{
text-align: center;
font-size: 30px;
}

.yourInfo{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

.bottomText{
    margin-bottom: 40px;
}

.webproduct img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.shoesize img {
    max-width: 350px;
}